<button id="close_popup" (click)="onCloseCancel()"><img src="./assets/imgHeader/close.png" alt="" width="30" height="30"></button>
<span id="titre_popup_police">Police</span>
<br><br>
<div id="bloc_taille_texte">
    <button id="taille_texte">Moyen</button>
    <button id="taille_texte">Grand</button>
    <button id="taille_texte">Avancé</button>
</div>
<br>
<span id="titre_popup_animations">Animations</span>
<br><br>
<div id="bloc_animations">
<button id="animationsOff" (click) ="offAnnim()">Désactivées</button>
<button id="animationsOn" (click)="onAnnim()">Activées</button>
</div>