<app-entete></app-entete>
<div id="mentionslegales" class="text">
  <div id="top-mentionslegales">
    <div id="mention">
      <h1>Propriété</h1>
      <p>
        Restaurant INCLUSION <br>
        15 avenue Montaigne – 59000 LILLE <br>
        tel : +33 X XX XX XX XX <br>
        Capital social : X XXX, XX euros <br>
        François MARIEN, Gérant
      </p>
    </div>
    <div id="mention">
      <h1>Hébergement</h1>
      <p>
        Hébergement assuré par<br>
        Planethoster<br>
        4416 Louis-B.-Mayer, Laval<br>
        Québec, Canada H7P 0G1<br>
      </p>
    </div>
  </div>
  <div id="mention">
    <h1>Informations</h1>
    <p>
      Prix exprimés en €uros TTC.<br>
      <br>
      Présentation des plats, menus et décoration sujets à modification tout au long de l’année en fonctions des produits de saison.
    </p>
  </div>

</div>
<app-footer></app-footer>
