<div id="header">
    <div id="vecteurmenu">
        <!-- Cette section ne s'affiche que sur les téléphones -->
        <a id="logo_menu_deroulant" href="#"><img src="./assets/vecteurmenu.png" alt="" width="50" height="50"></a>
        <ul id="navigation_telephone">
            <li id="lien"><a href="#">MENUS</a></li>
            <li id="lien"><a href="#">CONTACT</a></li>
            <li id="lien"><a href="#">L'EQUIPE</a></li>
            <li id="lien"><a id="accessibilite" (click)="openDialog()">ACCESSIBILITE</a></li>
        </ul>
    </div>

    <div id="bandeau_navigation">
        <div id="bloc_image">
            <a href="#"><img id="logoSite" alt="logoSite" src="./assets/logoInclusion.png" height="100"
                    width="300" /></a>
        </div>
        <div id="sous_bandeau">

            <ul id="liste_logo">
                <li id="icone"><a href="https://www.facebook.com/InclusionRestaurant/"
                        onclick="window.open(this.href); return false;"><img id="logoFacebook" alt="logo de Facebook"
                            src="../assets/facebook.png" height="30" width="30"></a></li>
                <li id="icone"><a href="https://www.instagram.com/inclusion_restaurant/"
                        onclick="window.open(this.href); return false;"><img id="logoInstagram" alt="logo d'Instagram"
                            src="../assets/instagram.png" height="30" width="30"></a></li>
                <li id="icone"><a href="https://twitter.com/Fr_Marien"
                        onclick="window.open(this.href); return false;"><img id="logoTwitter" alt="logo de Twitter"
                            src="../assets/twitter.png" height="30" width="30"></a></li>
                <li id="icone"><a href="https://www.tripadvisor.fr/"
                        onclick="window.open(this.href); return false;"><img id="logoTripadvisor"
                            alt="logo de trip advisor" src="../assets/tripadvisor.png" height="30" width="30"></a></li>
            </ul>

            <ul id="navigation">
                <li id="lien"><a href="#">MENUS</a></li>
                <li id="lien"><a href="#">CONTACT</a></li>
                <li id="lien"><a href="#">L'EQUIPE</a></li>
                <li id="lien"><a id="accessibilite" (click)="openDialog()" href="#">ACCESSIBILITE</a></li>
            </ul>
        </div>
    </div>
</div>