@media (min-width: 1024px) {

#vecteurmenu
{
    display: none;
}

/*Bloc principal*/
#header
{
    width: 100%;
    background-color: none;
    letter-spacing: .2em;
    font-family: 'Calibri';
}

#sous_bandeau
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#liste_logo
{
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#bandeau_navigation
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    background-color: #88181c;    
}

#icone
{
    margin-right: 1%;
}

/*Partie inférieure du header*/
#navigation
{
    text-align: center;
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a
{
    text-decoration: none;
    color:white;
}

a:hover
{
    color: brown;
}

#logoFacebook:hover, #logoInstagram:hover, #logoTwitter:hover, #logoTripadvisor:hover
{
    /*border: 1px solid #631514*/
    background-color: black;
    border-radius: 8px;
}

}

@media (max-width: 426px)
{
    #bandeau_navigation
    {
        display: none;
    }

    #navigation_telephone
    {
        display: none;
    }

    #logo_menu_deroulant:active
    {
        background-color: aqua;
    }

    #logo_menu_deroulant:active #navigation_telephone
    {
        background-color: brown;
        display: inline;
    }

}

