<div id="header"> 
        <div id="bloc_logo">
        <img id="logo" alt="logoSite" src="./assets/logoV2.png"/>
        <div id="test"></div>
        

        <div id="bloc_accessibilite">
        <a id="accessibilite_contacts" href="#">ACCESSIBILITE</a>
       
        <a href="https://www.facebook.com/InclusionRestaurant/" onclick="window.open(this.href); return false;"><img id="logo"  alt="logoFacebook" src="../assets/facebook.png" height="30" width="30"></a>
        <a href="https://www.instagram.com/inclusion_restaurant/" onclick="window.open(this.href); return false;"><img id="logo"  alt="logoInstagram" src="../assets/instagram.png" height="30" width="30"></a>
        <a href="https://twitter.com/Fr_Marien" onclick="window.open(this.href); return false;"><img id="logo"  alt="logoTwitter" src="../assets/twitter.png" height="30" width="30"></a>
        </div>
        </div>

        <div id="nav">
            <div id="content"><a href="#">MENUS</a></div>
            <div id="content"><a href="#">RESERVATION</a></div>
            <div id="content"><a href="#">L'EQUIPE</a></div>
        </div>
</div>