<app-entete></app-entete>
<div id="content" *ngIf="textContent" class="text">
  <!-- photo equipe text imgcontent -->
  <img class="banniereEquipe" src="../../../assets/equipe/greece.jpg" alt="" />
  <div id="slideshow-text">
    <h1 id="descriptionGlobale">Découvrez notre équipe</h1>
  </div>
  <p id="resume">{{ descriptionGlobale }}</p>
  <hr />
  <!-- Lecture du fichier Json qui contient "Equipe" -->
  <div id="equipe" *ngIf="descriptions">
    <div class="card" *ngFor="let text of descriptions; let i = index">
      <div id="test">
        <div id="imgcontent">
          <img
            class="photo"
            src="{{ text[2]['source'] }}"
            alt="Photo de {{ text[0]['contenu'] }}"
            width="150"
            height="150"
          />
        </div>
        <div id="contenu">
          <h4>{{ text[0]["contenu"] }}</h4>
          {{ text[1]["contenu"] }}
        </div>
      </div>
    </div>
  </div>

  <div id="joinUs" class="text" *ngIf="nousRejoindre">
    <p>{{ nousRejoindre[0][0]["contenu"] }}</p>
  </div>
  <div id="contenuJoinUs" class="text">
    <p>
      {{ nousRejoindre[0][1]["contenu"] }}
    </p>
    <a id="mailTo" href="mailto:{{ nousRejoindre[0][2]['contenu'] }}">{{
      nousRejoindre[0][3]["contenu"]
    }}</a>
    <br />
    <br />
  </div>
</div>
<app-footer></app-footer>

<!-- <div id="imgcontent"> </div> -->
