<app-entete></app-entete>
<div id="content" *ngIf="textContent" class="text">
  <!-- photo equipe text imgcontent -->
  <img class="banniereEquipe" src="../../../assets/equipe/greece.jpg" alt="">
  <div id="slideshow-text">

    <h1 id="descriptionGlobale">Découvrez notre équipe</h1>
  </div>
  <p id="resume">{{descriptionGlobale}}</p>
  <hr>
  <!-- Lecture du fichier Json qui contient "Equipe" -->
  <div id="equipe" *ngIf="descriptions">
    <div class="card" *ngFor="let text of descriptions; let i = index">

      <!-- Lecture du tableau & si i = 0 , on prend la description globale du site -->
      <!-- <p id="presentationGlobale" *ngIf="i==0">
        {{text[0].contenu}}
      </p> -->

      <!--Si i différent de 0, on passe à la création des cartes -->
      <div id="test">
        <div id="imgcontent">
          <img class="photo" src="{{imageContent[i]['source']}}" alt="{{imageContent[i]['alt']}}" width="150"
            height="150">
          <!-- <img class="photo" src="{{imageContent[0].source}}" alt=""  width="100" height="100" *ngIf="imageContent[i-1].source == 'undifined'"> -->
        </div>
        <div id="contenu">
          <h4>{{text[0]['contenu']}}</h4>
          {{text[1]['contenu']}}
        </div>
      </div>
    </div>
  </div>

  <div id="joinUs" class="text">
    <p>Nous rejoindre ...</p>
  </div>
  <div id="contenuJoinUs" class="text">
    <p>Vous avez des questions ? Vous voulez rejoindre l'équipe du restaurant inclusion ? Vous pouvez nous envoyer un
      mail </p>
    <a id="mailTo" href="mailto:info@inclusion-restaurant.fr">Nous écrire</a>
    <br>
    <br>
  </div>
</div>
<app-footer></app-footer>

<!-- <div id="imgcontent"> </div> -->