#content{
    margin-top: 104px;
}

.photo
{
    overflow: hidden;
    border: 1px solid #88181c;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #343434;
}

#equipe
{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text
{
    margin: 10px;
    width: 30%;
    border: 2px solid #88181c;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #343434;
}

#imgcontent
{
    margin-top: 5px;
    text-align: center;
}

h1,h2
{
    text-align: center;
}