.category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
  border-bottom: 3px dashed #ddd;
  text-align: center;
  padding: 10px;
  position: relative;
}

.category-title {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  margin: 5px auto 0;
}

.category-description,
.item {
  position: relative;
}

.category-description {
  width: 40%;
}

.item {
  width: max-content;
  text-align: center;
  margin: auto;
}

.div-img-croix {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.textContent {
  width: 100%;
  text-align: center;
}

.textContentFlex {
  width: 100%;
  display: flex;
}

textarea {
  width: 100%;
}

#global-container-img {
  display: flex;
  flex-wrap: wrap;
}

.simple-container-img {
  position: relative;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.img-text-container-img {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.img-modif {
  height: 150px;
  padding: 10px;
}

.img-croix-rouge {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  cursor: pointer;
}

.simple-container-img:hover .img-croix-rouge {
  display: block;
}

#img-add {
  cursor: pointer;
}

.textContent {
  min-width: 60%;
}

.formText {
  margin-left: 25%;
  margin: 10px 5% 0 25%;
}

.save-button {
  margin-left: 30%;
  margin-top: 30px;
}

#input-photo, #input-photo-bandeau {
  display: none;
}

#label-input-photo {
  cursor: pointer;
}

#button-add-img {
  padding: 8px;
  margin: auto;
}

#btn-sauvegarder {
  cursor: pointer;
  position: fixed;
  right: 40px;
  top: 0;
  transform: translate(-40px);
  border-radius: 12px 0 12px 0;
  background: #478bf9;
  border: none;
  color: #fff;
  font: bold 12px Verdana;
  padding: 6px;
}

.ajout {
  display: flex;
}

.add-contenu {
  border-top: 1px solid #4c3c1b;
  width: max-content;
}

.textContentFlex {
  margin-top: 5px;
}

.textContentFlex form {
  margin: auto;
}

.textContentFlex .item h2 {
  margin: auto;
}

.btn-add-contenu {
  background: #6b0b0b;
  color: #fff;
  border: none;
  position: relative;
  font-size: 1em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.btn-add-contenu:hover {
  background: #fff;
  color: #6b0b0b;
}

.btn-add-contenu:before,
.btn-add-contenu:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #6b0b0b;
  transition: 400ms ease all;
}

.btn-add-contenu:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-add-contenu:hover:before,
.btn-add-contenu:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-telecharger
{
  height: 150px;
  width: 150px;
  padding: 20px;
  position: relative;
  margin: auto;
  cursor: pointer;
  background: none;
  border: none;
  background-image: url("../../../assets/img/telecharger.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btn-span
{
  text-align: center;
  max-width: 170px;
}