.category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
  border-bottom: 3px dashed #ddd;
  text-align: center;
  padding: 10px;
}

.category-title {
  width: 100%;
  text-align: center;
}

h1 {
  margin: 5px auto 0;
}

.category-description {
  width: 40%;
}

.item {
  width: max-content;
  text-align: center;
}

.textContent {
  width: 100%;
  text-align: center;
}

.textContentFlex {
  width: 100%;
  display: flex;
}

textarea {
  width: 100%;
}

#global-container-img {
  display: flex;
  flex-wrap: wrap;
}

.simple-container-img {
  position: relative;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.img-text-container-img {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.img-modif {
  height: 150px;
  padding: 10px;
}

.img-croix-rouge {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  cursor: pointer;
}

.simple-container-img:hover .img-croix-rouge {
  display: block;
}

#img-add {
  cursor: pointer;
}

.textContent {
  min-width: 60%;
}

.formText {
  margin-left: 25%;
  margin: 10px 5% 0 25%;
}

.save-button {
  margin-left: 30%;
  margin-top: 30px;
}

#input-photo {
  display: none;
}

#label-input-photo {
  cursor: pointer;
}

#button-add-img {
  padding: 8px;
  margin: auto;
}

#btn-sauvegarder{
  cursor: pointer;
  position: fixed;
  right: 40px;
  top: 0;
  transform: translate(-40px);
  border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding: 6px;
}
.ajout {
  display: flex;
}
