<app-entete></app-entete>

<div id="global">
    <div #myslideshowcontainer id="slideshow-container">
        <div id="text-diapo"></div>
        <div #myslideshow id="slideshow">
            <img src="../../assets/1.jpg" alt="Image 1" class="slideshow-image">
            <img src="../../assets/2.jpg" alt="Image 2" class="slideshow-image">
            <img src="../../assets/3.jpg" alt="Image 3" class="slideshow-image">           
        </div>
    </div>
    <div id="presentation-restaurant">
        <h1>Présentation du restaurant INCLUSION</h1>
        <div id="text">
            <p>LA</p>
            <p>ON</p>
            <p>PRESENTE</p>
            <p>LE</p>
            <p>RESTAURANT</p>
            <p>JE</p>
            <p>RAJOUTE</p>
            <p>DES</p>
            <p>MTS</p>
            <p>POUR</p>
            <p>TESTER</p>
        </div>
    </div>
</div>

<app-footer></app-footer>