<app-entete></app-entete>
<div class="menu text" *ngIf="textContent">
  <div class="photo">
    <img src="{{imageContent[0].source}}" alt="{{imageContent[0].alt}}">
  </div>
  <hr />

  <div class="entrees">
    <p>{{ titreEntrees[0].contenu }}</p>
    <ul>
      <li *ngFor="let entree of entrees">{{ entree.contenu }}</li>
    </ul>
  </div>
  <hr />

  <div class="plats">
    <p>{{ titrePlats.contenu }}</p>
    <ul>
      <li *ngFor="let plat of plats">{{ plat.contenu }}</li>
    </ul>
  </div>
  <hr />

  <div class="desserts">
    <p>{{ titreDesserts.contenu }}</p>
    <ul>
      <li *ngFor="let dessert of dessert">{{ dessert.contenu }}</li>
    </ul>
  </div>
  <hr />

  <!-- <div class="autre">
    <p>{{textContent.titreFormule}}</p>
    <div class="formules" *ngFor="let formule of textContent.formules">
      <p>{{formule.titre}}</p>
      <p>{{formule.contenu}}</p>
    </div>
  </div> 
  <hr> -->
</div>
<app-footer></app-footer>
