<app-entete></app-entete>
<div class="text">
  <menu class="menu">
    <div class="foto">
      <p>foto</p>
    </div>
    <hr>

<menu class="menu" *ngIf="textContent">
  <div class="foto">
    <p>foto</p>
  </div>
  <hr>

  <div class="entrees">
    <p>{{textContent.titreEntree}}</p>
    <ul>
      <li *ngFor="let entree of textContent.entrees">{{entree.contenu}}</li>
    </ul>
  </div>
  <hr>

  <div class="plats">
    <p>{{textContent.titrePlat}}</p>
    <ul>
      <li *ngFor="let plat of textContent.plats">{{plat.contenu}}</li>
    </ul>
  </div>
  <hr>

  <div class="desserts">
    <p>{{textContent.titreDessert}}</p>
    <ul>
      <li *ngFor="let dessert of textContent.desserts">{{dessert.contenu}}</li>
    </ul>
  </div>
  <hr>

  <div class="otro">
    <p>{{textContent.titreFormule}}</p>
    <div class="forma" *ngFor="let formule of textContent.formules">
      <p>{{formule.titre}}</p>
      <p>{{formule.contenu}}</p>

    </div>
    <hr>

    <div class="otro">
      <p>otro</p>
      <div class="forma1">
        <p>forma1</p>
      </div>
      <div class="forma2">
        <p>forma2</p>
      </div>
      <div class="forma3">
        <p>forma3</p>
      </div>

    </div>
  </menu>
</div>
<app-footer></app-footer>