#general
{
    margin-top:104px;
    background-color: #E6E5E5;
    padding-bottom: 15px;
}

/* _______________________________________________________________________________ */
/* DEBUT DIAPO____________________________________________________________________ */
/* _______________________________________________________________________________ */

#slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#slideshow {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
    position: absolute;
}

#slideshow.fadeOut {
    opacity: 0;
}

.slideshow-image {
    display: none;
}

#slideshow-text{
    color: white;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    font-size: 3em;
    width: 100%;
    font-style: italic;
    top:50%;
    transform: translate(0,-50%);
    text-align: center;
}

@media screen and (max-width:735px)
{
    #general
    {
        margin-top: 0;
        background-color: #E6E5E5;
    }
}

@media screen and (max-width:516px)
{

    #slideshow-text
    {
    color: white;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    font-size: 1.5em;
    width: 100%;
    top:15%;
    text-align: center;
    }
}

#fleche-gauche{
    top: 35%;
    left:0;
    margin: 0;
    border: none;
    outline-style: none;
    outline: 0;
    background: transparent;
    position: absolute;
    cursor: pointer;
}

#fleche-droite{
    top: 35%;
    right: 0;
    border: none;
    outline-style: none;
    background: transparent;
    position: absolute;
    cursor: pointer;
}

#fleche-gauche:focus{
    border: solid white;
}

#fleche-droite:focus{
    border: solid white;
}

button{
    padding: 0;
}

#zoneclicable{
    display: flex;
    height: 85%;
    margin: auto;
    justify-content: space-between;

}

#zoneclicgauche{
    width: 20%;
    z-index: 100;
}

#zoneclicgauche:hover{
    cursor: url('../../../assets/accueil/fleche-gauche-souris.png') 25 50 , pointer;
}

#zoneclicdroite{
    width: 20%;
    z-index: 100;  
}

#zoneclicdroite:hover{
    cursor: url('../../../assets/accueil/fleche-droite-souris.png') 75 50, pointer;   
}


/* _______________________________________________________________________________ */
/* FIN DIAPO______________________________________________________________________ */
/* _______________________________________________________________________________ */

.menu{
    padding: 20px 30px;
    margin: auto;
    width: 50%;
    background-color: #fff;
    box-shadow: 8px 8px 12px #aaa;
    margin-top: 15px;
    margin-bottom: 15px;
}
.menu p{
    font-size: 150%;
    text-align: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
.menu menu{
    list-style-type:none;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    width: 98%;
    display: table;
    position: relative;
    height: max-content;
}
.menu-contenu,.menu-prix{
    width: max-content;
    font-weight: bold;
}
.menu-contenu{
    float: left;
    padding-right: 5px;
}
.menu-prix{
    float: right;
    padding-left: 5px;
}
.menu-separation{
    height: 1em;
    overflow: hidden;
    border-bottom: 1px dotted #828383;
}
.menu-description{
    font-style: italic;
    font-size: 0.8em;
    display: table-footer-group;
}

.autre .formules{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
hr{
    height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:516px)
{
    .menu{
        width: 75%;
    }
}