#general
{
    margin-top: 104px;
    background-color: #E6E5E5;
    width: 100%;
}

#container-googlemap{
    text-align: center;
}

#googlemap
{
	width: 700px;
    height: 400px;
    margin: 20px 20px 0 20px;
}

#text-contact
{
    display: flex;
    justify-content: space-around;
}

.form-group h2
{
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}

h1
{
    text-decoration: none;
    margin-bottom: 5px;
}

#titre-formulaire
{
    font-size: 1.4em;
}

#mail
{
    display: flex;
    flex-direction: column;
}

.text
{
    letter-spacing: .2em;
    /* padding: 2% 2% 5% 2%; */
}

#contact-intro
{
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.zone-focus:focus{
    border: solid #88181c;
}

.lien-focus:focus{
    border: solid #88181c;
}

#description
{
    text-align: center;
}

#mailTo
{
    border: 2px solid #88181c;
    border-radius: 3px;
    padding: 8px;
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 25%;
    min-width: 87px;
}

#name,
#sender,
#object,
#message,
#mailTo
{
    margin-top: 8px;
    margin-bottom: 8px;
}

#mailTo
{
    min-width: max-content;
}

#mailTo:hover
{
   background-color: #88181c;
   color: aliceblue;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

#name, #sender, #object
{
    padding: 10px 10px 10px 1px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid rgb(197, 197, 197);
}

#divMain
{
    margin: 0 5%;
    text-align: center;
}

#content-nom-mail
{
    display: flex;
    justify-content: center;
}

#message
{
    width: 100%;
    font-size: 1.2em;
}
#message::placeholder 
{
    font-size: 1.2em;
}

@media screen and (max-width:1350px){
    #general
    {
        margin-top: 0;
    }
}

@media screen and (max-width: 736px) 
{
    #divMain
    {
        justify-content: center;
    }

    #text-contact
    {
        flex-direction: column;
        text-align: center;
    }

    #contact-intro{
        margin-bottom: 10px;
    }

    #general
    {
        margin-top: 0;
        background-color: #E6E5E5;
        width: 100%;
    }

    #googlemap
    {
        display: none;
    }

}