<app-entete></app-entete>
<div id="general" class="zone" *ngIf="textContent && mailtext && tel">
  <div id="container-googlemap">
    <iframe
      id="googlemap"
      class="googlemap"
      [src]="src_maps | safe"
      frameborder="0"
      style="border:0"
      allowfullscreen
    >
    </iframe>
  </div>
  <div id="text-contact">
    <div class="form-group text" id="divMain">
      <h1 id="titre-formulaire">{{ textContent[1][0].contenu }}</h1>
      <h2>{{ textContent[1][1].contenu }}</h2>
      <form ngNativeValidate (ngSubmit)="sendMail()" id="mail" action="">
        <!-- <div id="content-nom-mail"> -->
        <!-- <h4>Votre nom :</h4> -->
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="name"
          placeholder="Nom"
          required
        />
        <!-- <hr> -->
        <!-- <h4>Votre mail :</h4> -->
        <input
          type="email"
          name="sender"
          id="sender"
          [(ngModel)]="sender"
          placeholder="Votre adresse mail"
          required
        />
        <!-- </div> -->
        <!-- <h4>Sujet :</h4> -->
        <input
          type="text"
          name="object"
          id="object"
          [(ngModel)]="object"
          placeholder="Objet"
          required
        />
        <!-- <h4>Votre message :</h4> -->
        <textarea
          name="message"
          id="message"
          [(ngModel)]="message"
          placeholder="Ecrivez votre message ici"
          required
        ></textarea>
        <br />
        <input id="mailTo" type="submit" class="btn btn-success text" />
      </form>
    </div>
    <div id="contact-intro">
      <div id="description" class="text">
        <h1 id="titre-description">{{ textContent[0][0]["contenu"] }}</h1>
        <div id="container-infos">
          <a href="tel:{{ tel }}" class="description-info"> {{ tel }}</a>
          <a href="mailto:{{ mailtext }}" class="description-info">{{
            mailtext
          }}</a>
          <a
            href="http://maps.google.com/?q={{ adress }}"
            class="description-info"
            target="_blank"
          >
            <div>
              <p class="adress-info description-info">{{ adress_street }}</p>
              <p class="adress-info description-info">{{ adress_city }}</p>
            </div>
          </a>
        </div>
      </div>
      <menu id="liste_logo">
        <a
          href="{{ fb }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoFacebook"
              alt="lien vers Facebook"
              src="../../assets/imgHeader/facebook.png"
              height="30"
              width="30"
            />
          </li>
        </a>
        <a
          href="{{ insta }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoInstagram"
              alt="lien vers Instagram"
              src="../../assets/imgHeader/instagram.png"
              height="30"
              width="30"
            />
          </li>
        </a>
        <a
          href="{{ uber }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoUber"
              alt="lien vers Uber eats"
              src="../../assets/imgHeader/ubereats.png"
              height="30"
              width="30"
            />
          </li>
        </a>
        <a
          href="{{ tripAd }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoTripadvisor"
              alt="lien vers trip advisor"
              src="../../assets/imgHeader/tripadvisor.png"
              height="30"
              width="30"
            />
          </li>
        </a>
      </menu>
    </div>
  </div>
</div>

<app-footer></app-footer>
