<app-nav-admin></app-nav-admin>

<textarea id="area" rows="5" cols="50" name="text"
  style="margin-left: 25%; margin-top:2%;">{{jsonToDisplay.text | json}}</textarea>

<div id="global-container-img">
  <div class="simple-container-img" *ngFor="let item of jsonToDisplay.images">
    <img class="img-croix-rouge" src="../../assets/img/croix_rouge.png">
    <div class="img-text-container-img">
      <img class="img-modif" src="{{item.source}}" alt="">
      <input type="text" value="{{item.alt}}">
    </div>
  </div>
  <div class="simple-container-img">
    <img id="img-add" class="img-modif" src="../../assets/img/plus.png" alt="">
  </div>
</div>

<button>Save</button>