   <!-- <strong>{{ data }}</strong>-->

    <button id="close_popup" (click)="onCloseCancel()"><img src="./assets/imgHeader/close.png" alt="" width="30" height="30"></button>
    <span id="titre_popup_police">Police</span>
    <br><br>
    <div id="bloc_taille_texte">
        <button id="taille_texte">Moyen</button>
        <button id="taille_texte">Grand</button>
        <button id="taille_texte">Avancé</button>
    </div>
    
    <span id="titre_popup_animations">Animations</span>
    <br><br>
    <div id="bloc_animations">
        <button id="animationsOff" (click) ="setCookieAnimationsFalse()" >Désactivées</button>
        <button id="animationsOn"  (click)="setCookieAnimationsTrue()"  >Activées</button>
        <button id="animationOn" [message] = message >{{message}}</button>
    </div>
<!--<button (click)="onCloseConfirm()">Confirm</button>

(click)="animations = false"
"this.value == 'false'"

-->



