<div id="header" class="zone">
  <div id="vecteurmenu">
    <!-- Cette section ne s'affiche que sur les téléphones -->
    <button id="logo_menu_deroulant" (click)="openMenu()"></button>
    <div id="menu_navigation_telephone" class="open-close-container">
      <ul id="navigation_telephone">
        <li
          id="menustelephone"
          class="lien-liste-telephone"
          [routerLink]="['/accueil']"
        >
          ACCUEIL
        </li>
        <li
          id="menustelephone"
          class="lien-liste-telephone"
          [routerLink]="['/menus']"
        >
          MENUS
        </li>
        <li
          id="equipetelephone"
          class="lien-liste-telephone"
          [routerLink]="['/equipe']"
        >
          L'ÉQUIPE
        </li>
        <li
          id="contactstelephone"
          class="lien-liste-telephone"
          [routerLink]="['/contact']"
        >
          CONTACT
        </li>
        <!-- <li id="menustelephone" class="lien-liste-telephone" [routerLink]="['/livraison']">MENUS</li> -->
        <li
          id="accessibilitetelephone"
          class="lien-liste-telephone"
          (click)="openDialog()"
        >
          ACCESSIBILITÉ
        </li>
      </ul>
    </div>
    <div id="bloc_image">
      <a [routerLink]="['/accueil']"
        ><img
          id="logoSite"
          alt="logo du site inclusion"
          src="./assets/imgHeader/logoInclusion.png"
          height="100"
          width="300"
      /></a>
    </div>
  </div>

  <div id="bandeau_navigation">
    <button id="bloc_image" [routerLink]="['/accueil']" class="lien-focus">
      <img
        id="logoSite"
        alt="logo du site inclusion"
        src="./assets/imgHeader/logoInclusion.png"
      />
    </button>
    <div id="conteneur">
      <div id="listeNavigation">
        <menu id="navigation" class="text">
          <button class="lien-focus" [routerLink]="['/accueil']">
            <li id="accueil">ACCUEIL</li>
          </button>
          <button class="lien-focus" [routerLink]="['/menus']">
            <li id="menus">MENUS</li>
          </button>
          <button class="lien-focus" [routerLink]="['/equipe']">
            <li id="equipe">L'ÉQUIPE</li>
          </button>
          <button class="lien-focus" [routerLink]="['/contact']">
            <li id="contact">CONTACT</li>
          </button>
          <button class="lien-focus" (click)="openDialog()">
            <li id="accessibilite">ACCESSIBILITÉ</li>
          </button>
        </menu>
      </div>
    </div>
    <div id="sous_bandeau">
      <menu id="liste_logo" *ngIf="fb && uber && insta && tripAd">
        <a
          href="{{ fb }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoFacebook"
              alt="lien vers Facebook"
              src="../../assets/imgHeader/facebook.png"
              height="30"
              width="30"
            />
          </li>
        </a>
        <a
          href="{{ insta }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoInstagram"
              alt="lien vers Instagram"
              src="../../assets/imgHeader/instagram.png"
              height="30"
              width="30"
            />
          </li>
        </a>
        <a
          href="{{ uber }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoUber"
              alt="lien vers Uber eats"
              src="../../assets/imgHeader/ubereats.png"
              height="30"
              width="30"
            />
          </li>
        </a>
        <a
          href="{{ tripAd }}"
          class="lien-focus"
          onclick="window.open(this.href); return false;"
        >
          <li id="icone">
            <img
              id="logoTripadvisor"
              alt="lien vers trip advisor"
              src="../../assets/imgHeader/tripadvisor.png"
              height="30"
              width="30"
            />
          </li>
        </a>
      </menu>
    </div>
  </div>
</div>
