#vecteurmenu
{
    display: none;
}

/*Bloc principal*/

#header
{ 
    z-index: 101;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: none;
    letter-spacing: .2em;
    font-family: 'Calibri';
}

#sous_bandeau
{
    top:0;
    /* width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    float: right;
}

#liste_logo
{
    padding: 5px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#bandeau_navigation
{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    background-color: #88181c;    
}

#icone
{
    margin: 5px;
}

#lien, #accessibilite, #menus, #contacts, #equipe, #livraison, #accueil
{
    bottom: 0;
    color: white;
    cursor: pointer;
    padding: 5px;
    outline-style: none;
}


#lien:hover, #accessibilite:hover, #menus:hover, #contacts:hover, #equipe:hover, #accueil:hover, #livraison:hover
{
    color: #88181c;
    background-color: whitesmoke;
    outline-style: none;
}

/*Partie inférieure du header*/
#conteneur
{
   width: 100%;
   position: relative;
   
}

#listeNavigation
{
    width: 100%;
    position: absolute;
    bottom: 5%;
}

#navigation
{
    margin: 0;
    list-style-type: none;
    display: flex; 
    justify-content: space-between;   
}


/* #bandeau_navigation:nth-child(2)
{
    flex: 1;
} */

/* a
{
    text-decoration: none;
    color:white;
}

a:hover
{
    color: brown;
} */

#logoUber
{
    border-radius: 8px;
    border: 1px solid whitesmoke;
}

#logoFacebook:hover, #logoInstagram:hover, #logoTripadvisor:hover, #logoUber:hover
{
    /*border: 1px solid #631514*/
    background-color: black;
    border-radius: 8px;
}

@media screen and (max-width: 1280px)
{}

@media screen and (max-width: 980px)
{

}

@media screen and (max-width:736px){
    #header
    {
        position: relative;
    }

    #bandeau_navigation
    {
        display: none;
    }

    #bloc_image
    {
        background-color: #88181c;
    }

    #vecteurmenu
    {
        display: flex;
        justify-content: space-around;
        background-color: #88181c;
    }    

    #lien, #accessibilite, #menus, #contacts, #equipe,
    #menustelephone, #contactstelephone, #equipetelephone, #accessibilitetelephone
    {
        color: black;
        cursor: pointer;
        padding: 5px;
        outline-style: none;
    }

    #menustelephone:hover, #contactstelephone:hover, #equipetelephone:hover, #accessibilitetelephone:hover
    {
        cursor: pointer;
        color: black;
        background-color: whitesmoke;
        outline-style: none;
    }

    .lien-liste-telephone
    {
        color: black;
    }
    
    #logo_menu_deroulant
    {
        display: inline;
        position: absolute;
        top: 25%;
        left: 1%;
        outline-style: none;
        border: 2px solid rgb(104, 104, 104);
        border-radius: 5px;
        background-color: #88181c;
        background-image: url("../../../assets/vecteurmenu.png");
        width: 50px;
        height: 50px;
    }

    #navigation_telephone
    {
        width: 100%;
        text-align: center;
        background-color: #616161;
        margin: 0;
        margin-left: 0;
        padding-left: 0;
    }

    #menu_navigation_telephone
    {
        z-index: 100;
        display: none;
        width: 100%;
        margin-top: 104px; 
        position: absolute;
    }
    
}

/* optimisation du focus */
button{
    background: none;
    border: none;
    font-family: 'Calibri';
    font-size: 1em; 
    padding: 0;
}

.lien-focus:focus {
    border: solid white;
}
