<div id="header">
    <div id="vecteurmenu">
        <!-- Cette section ne s'affiche que sur les téléphones -->
        <button id="logo_menu_deroulant" (click)="openMenu()"></button>
        <div id="menu_navigation_telephone" class="open-close-container">
            <ul id="navigation_telephone">
                <li id="menustelephone" class="lien-liste-telephone" [routerLink]="['/accueil']">ACCUEIL</li>
                <li id="menustelephone" class="lien-liste-telephone" [routerLink]="['/menus']">MENUS</li>
                <li id="equipetelephone" class="lien-liste-telephone" [routerLink]="['/equipe']">L'EQUIPE</li>
                <li id="contactstelephone" class="lien-liste-telephone" [routerLink]="['/contact']">CONTACT</li>
                <li id="menustelephone" class="lien-liste-telephone" [routerLink]="['/livraison']">MENUS</li>
                <li id="accessibilitetelephone" class="lien-liste-telephone" (click)="openDialog()">ACCESSIBILITE</li>
            </ul>
        </div>
        <div id="bloc_image">
            <a [routerLink]="['/accueil']"><img id="logoSite" alt="logo du site inclusion"
                    src="./assets/imgHeader/logoInclusion.png" height="100" width="300" /></a>
        </div>
    </div>

    <div id="bandeau_navigation">
        <div id="bloc_image">
            <a [routerLink]="['/accueil']"><img id="logoSite" alt="logo du site inclusion"
                    src="./assets/imgHeader/logoInclusion.png" height="100" width="300" /></a>
        </div>
        <div id="conteneur">
            <div id="listeNavigation">
                <ul id="navigation" class="text">
                    <li id="accueil" [routerLink]="['/accueil']">ACCUEIL</li>
                    <li id="menus" [routerLink]="['/menus']">MENUS</li>
                    <li id="equipe" [routerLink]="['/equipe']">L'EQUIPE</li>
                    <li id="contacts" [routerLink]="['/contact']">CONTACT</li>
                    <li id="livraison" [routerLink]="['/contact']">LIVRAISON</li>
                    <li id="lien" id="accessibilite" (click)="openDialog()">ACCESSIBILITE</li>
                </ul>
            </div>
        </div>
        <div id="sous_bandeau">

            <ul id="liste_logo">
                <li id="icone"><a href="https://www.facebook.com/InclusionRestaurant/"
                        onclick="window.open(this.href); return false;"><img id="logoFacebook" alt="logo de Facebook"
                            src="../../assets/imgHeader/facebook.png" height="30" width="30"></a></li>
                <li id="icone"><a href="https://www.instagram.com/inclusion_restaurant/"
                        onclick="window.open(this.href); return false;"><img id="logoInstagram" alt="logo d'Instagram"
                            src="../../assets/imgHeader/instagram.png" height="30" width="30"></a></li>
                <li id="icone"><a href="https://www.ubereats.com/fr-FR/stores/"
                        onclick="window.open(this.href); return false;"><img id="logoUber" alt="logo d'Uber eats"
                            src="../../assets/imgHeader/ubereats.png" height="30" width="30"></a></li>
                <li id="icone"><a href="https://www.tripadvisor.fr/"
                        onclick="window.open(this.href); return false;"><img id="logoTripadvisor"
                            alt="logo de trip advisor" src="../../assets/imgHeader/tripadvisor.png" height="30"
                            width="30"></a></li>
                <!-- <li id="icone"><a href="https://www.ubereats.com"
                        onclick="window.open(this.href); return false;"><img id="logoTripadvisor"
                            alt="logo de uber eats" src="../../assets/imgHeader/ubereatsV2.png" height="30"
                            width="30"></a></li> -->
            </ul>
        </div>


    </div>
</div>