/* You can add global styles to this file, and also import other style files */
body, html
{
	margin: 0;
	height: 100%;
	font-family: 'Quan';
}

 

/*
#cdk-overlay-2
{
    background-color: green;
}

.mat-dialog-container
{
    background-color: blue;
}*/


/* Style de la fenêtre popup */
#cdk-overlay-10
{

}

.mat-dialog-container {
   
}