#general{
    font-family: 'Calibri';
    margin-top: 104px;
    background-color: #E6E5E5;
    width: 100% ;
}

#slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#slideshow {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
    position: absolute;
}

#slideshow.fadeOut {
    opacity: 0;
}

.slideshow-image {
    display: none;
}

#slideshow-text
{
    color: white;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    font-family: "Calibri";
    letter-spacing: .2em;
    font-size: 3em;
    width: 100%;
    font-style: italic;
    top:10%;
    text-align: center;

}

#fleche-gauche{
    top: 25%;
    left:0;
    margin: 0;
    border: none;
    outline-style: none;
    outline: 0;
    background: transparent;
    position: absolute;
    cursor: pointer;
}

#fleche-droite{
    top: 25%;
    right: 0;
    border: none;
    outline-style: none;
    background: transparent;
    position: absolute;
    cursor: pointer;
}

#zoneclicable{
    display: flex;
    height: 85%;
    margin: auto;
    justify-content: space-between;

}

#zoneclicgauche{
    width: 20%;
    z-index: 100;
}

#zoneclicgauche:hover{
    cursor: url('../../../assets/accueil/fleche-gauche-souris.png') 25 50 , pointer;
}

#zoneclicdroite{
    width: 20%;
    z-index: 100;  
}

#zoneclicdroite:hover{
    cursor: url('../../../assets/accueil/fleche-droite-souris.png') 75 50, pointer;   
}

.text{
    text-align: center;
    padding: 3% 0;
    letter-spacing: .2em;
}

#lien{
    margin: 15px;
}

#lien:hover{
	cursor: pointer;
	text-decoration: underline black;
}

h1{
    text-decoration: underline;
}