<div class="text zone" id="footer-general" *ngIf="textContent && param">
  <div id="sous_footer-general">
    <!-- Cette partie ne s'affiche que sur les téléphones (logos du header) -->
    <div id="logoFooter">
      <ul id="liste_logo">
        <li id="icone">
          <a href="{{ fb }}" onclick="window.open(this.href); return false;"><img id="logoFacebook"
              alt="logo de Facebook" src="../../assets/imgHeader/facebook.png" height="30" width="30" /></a>
        </li>
        <li id="icone">
          <a href="{{ insta }}" onclick="window.open(this.href); return false;"><img id="logoInstagram"
              alt="logo d'Instagram" src="../../assets/imgHeader/instagram.png" height="30" width="30" /></a>
        </li>
        <li id="icone">
          <a href="{{ uber }}" onclick="window.open(this.href); return false;"><img id="logoUber" alt="logo d'Uber eats"
              src="../../assets/imgHeader/ubereats.png" height="30" width="30" /></a>
        </li>
        <li id="icone">
          <a href="{{ tripAd }}" onclick="window.open(this.href); return false;"><img id="logoTripadvisor"
              alt="logo de trip advisor" src="../../assets/imgHeader/tripadvisor.png" height="30" width="30" /></a>
        </li>
      </ul>
    </div>

    <div id="lientexte">
      <div class="info">
        <span id="num-telephone"> Téléphone : </span><a href="tel:{{ tel }}" class="lien lien-focus"> {{ tel }} </a>
      </div>
      <div class="info">
        <span id="mail-contact"> Email : </span><a href="mailto:{{ mail }}" class="lien lien-focus">{{ mail }}</a>
      </div>
      <div id=" adressefooter" class="info">
        <p id="adresse-restaurant" class="detailadresse">
          Adresse :
        </p>

        <div *ngFor="let item of adresse; let j = index" class="detailadresse">
          <div *ngIf="j != 0" class="detailadresse"> , </div>
          {{ item }}

        </div>

      </div>
    </div>

    <!-- <div id="lientexte">
      <p></p>
      
    </div> -->

    <div id="lientexte">
      <!-- <p>{{ text[0].contenu }}</p> -->
      <div id="horaire-content" *ngFor="let item of textContent[0]; let y = index">
        <div *ngIf="y==0 || y == 2" id="horaire-ouverture"> {{ item.contenu }}</div>
        <div *ngIf="y==1 || y == 3"> {{ item.contenu }}</div>

      </div>
    </div>

    <div class="footer-center-right">
      <div class="Extras">
        <button id="plan-site" class="lien-focus" [routerLink]="['/plan-site']">
          Plan du site
        </button>
      </div>
      <div class="Extras">
        <button id="mentions-legales" class="lien-focus" [routerLink]="['/mentions-legales']">
          Mentions légales
        </button>
      </div>
    </div>

    <div id="imap">
      <iframe id="googlemap" class="googlemap" [src]="src_maps | safe" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<!-- Mode responsive : Bandeau avec un raccourci pour téléphoner -->
<div id="bloc_lientelephone">
  <a id="lientelephone" href="tel:{{tel}}" *ngIf="tel"><img id="logotelephone" src="../../../assets/footer/phone.png"
      alt="Numéro de téléphone du restaurant" height="20" width="20" />
    APPELEZ-NOUS !</a>
  <a id="lienmaps" href="http://maps.google.com/?q={{adresse}}"><img id="logotelephone"
      src="../../../assets/footer/location.png" alt="Lien vers le plan d'accès du restaurant" height="22" width="12" />
    NOUS TROUVER !</a>
</div>