#logoFooter
{
	display: none;
}

#bloc_lientelephone
{
	display: none;
}

#footer-general
{
	font-family: 'Calibri';
	background-color: #88181c;
	color: white;
	width: 100%;
	
}

#sous_footer-general
{
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
}

#horaire p
{
	text-align: justify;
}

#plan-site:hover
{
	cursor: pointer;
	text-decoration: underline white;
}

#mentions-legales:hover
{
	cursor: pointer;
	text-decoration: underline white;
}

#imap
{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

#googlemap
{
	width: 400px;
	height: 200px;
}

/* optimisation du focus */
button{
    background: none;
    border: none;
    font-family: 'Calibri';
    font-size: 1em; 
	padding: 0;
	color: white;
	margin: 3% 0;
}

.lien-focus{
	border: #88181c solid;
}
.lien-focus:focus {
    border: solid white;
}



@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 980px) {
	#googlemap
	{
		width: 100%;
		height: 200px;
	}
}

@media screen and (max-width: 736px) {
	#logoFooter
	{
		width: 100%;	
		display: inline;
	}

	/* #liste_logo
	{
		display: flex;
		justify-content: space-between;
		list-style-type: none; 
	}*/
		
	#lientexte, .footer-center-right, #imap
	{
		display: none;
	}

	#liste_logo
	{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		margin-bottom: 60px;
	}

	#bloc_lientelephone
	{
		display: flex;
		justify-content: space-around;
		width: 100%;
		background-color: #222222;
		position: fixed;
		bottom: 0;
	}

	#lientelephone
	{
		padding-right: 40px;
		padding-left: 40px;
		padding-top: 3px;
		padding-bottom: 3px;
		font-family: 'Calibri';
		font-size: 1em;
		/* background-color: #0060f1cc; */
		background-color: whitesmoke;
		text-decoration: none;
		color: black;
		border-radius: 50px;
		margin: 10px;
	}

	#lienmaps
	{
		margin: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-right: 40px;
		padding-left: 40px;
		font-family: 'Calibri';
		font-size: 1em;
		/* background-color: #f19100be; */
		background-color: whitesmoke;
		text-decoration: none;
		color: black;
		border-radius: 50px;
	}

	#logotelephone, #logomaps
	{
		vertical-align: middle;
	}

}

@media screen and (max-width: 458px) 
{
	#lientelephone
	{
		font-family: 'Calibri';
		font-size: 1em;
		/* background-color: #0060f1cc; */
		background-color: whitesmoke;
		text-decoration: none;
		color: black;
		border-radius: 50px;
		padding: 0px 5px 0px 5px;
	}

	#lienmaps
	{
		font-family: 'Calibri';
		font-size: 1em;
		/* background-color: #f19100be; */
		background-color: whitesmoke;
		text-decoration: none;
		color: black;
		border-radius: 50px;
		padding: 0px 5px 0px 5px;
	}
}

@media screen and (max-width:320px)
{
	#lientelephone, #lienmaps
	{
		font-family: 'Calibri';
		font-size: 1em;
		/* background-color: #0060f1cc; */
		background-color: whitesmoke;
		text-decoration: none;
		color: black;
		border-radius: 50px;
		text-align: center;
	}

	#bloc_lientelephone
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#liste_logo
	{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		margin-bottom: 85px;
	}
}

