<div class="text" id="footer-general">
  <div id="sous_footer-general">
    <!-- Cette partie ne s'affiche que sur les téléphones (logos du header) -->
    <div id="logoFooter">
      <ul id="liste_logo">
        <li id="icone"><a href="https://www.facebook.com/InclusionRestaurant/"
            onclick="window.open(this.href); return false;"><img id="logoFacebook" alt="logo de Facebook"
              src="../../assets/imgHeader/facebook.png" height="30" width="30"></a></li>
        <li id="icone"><a href="https://www.instagram.com/inclusion_restaurant/"
            onclick="window.open(this.href); return false;"><img id="logoInstagram" alt="logo d'Instagram"
              src="../../assets/imgHeader/instagram.png" height="30" width="30"></a></li>
        <li id="icone"><a href="https://www.ubereats.com/fr-FR/stores/"
            onclick="window.open(this.href); return false;"><img id="logoUber" alt="logo d'Uber eats"
              src="../../assets/imgHeader/ubereats.png" height="30" width="30"></a></li>
        <li id="icone"><a href="https://www.tripadvisor.fr/" onclick="window.open(this.href); return false;"><img
              id="logoTripadvisor" alt="logo de trip advisor" src="../../assets/imgHeader/tripadvisor.png" height="30"
              width="30"></a></li>
        <!-- <li id="icone"><a href="https://www.ubereats.com"
                  onclick="window.open(this.href); return false;"><img id="logoTripadvisor"
                      alt="logo de uber eats" src="../../assets/imgHeader/ubereatsV2.png" height="30"
                      width="30"></a></li> -->
      </ul>
    </div>

    <div id="lientexte" *ngFor="let text of textContent; let i = index">

      <div *ngIf="i==0">
        <p>Telephone : {{text[0].contenu}}</p>
        <p>Addresse : {{text[1].contenu}}</p>
        <p>Mail : {{text[2].contenu}}</p>
      </div>

      <div *ngIf="i==1">
        <div id="horaire">
          <p>{{text[0].contenu}}</p>
          <table>
            <tr *ngFor="let item of horaire; let y = index">
              <td>{{semaine[y]}} </td>
              <td>: {{item.contenu}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>

    <div class="footer-center-right">
      <div class="Extras">
        <button class="lien-focus" [routerLink]="['/plan-site']">Plan du site</button>
      </div>
      <div class="Extras">
        <button class="lien-focus" [routerLink]="['/mentions-legales']">Mentions légales</button>
      </div>
    </div>


    <div id="imap">
      <iframe id="googlemap"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.6126113518494!2d3.046428169606164!3d50.63431288341961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d578da129f7d%3A0xd134d73fb7f4c699!2sISEN+Lille!5e0!3m2!1sfr!2sfr!4v1554128878294!5m2!1sfr!2sfr"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- Mode responsive : Bandeau avec un raccourci pour téléphoner -->
<div id="bloc_lientelephone">
  <a id="lientelephone" href="tel:+33619459393"><img id="logotelephone" src="../../../assets/footer/phone.png"
      alt="Numéro de téléphone du restaurant" height="25" width="25"> APPELEZ-NOUS !</a>
</div>