#logoFooter
{
	display: none;
}

#bloc_lientelephone
{
	display: none;
}

#footer-general{
	font-family: 'Calibri';
	background-color: rgb(136, 24, 28);
	box-sizing: border-box;
	width: 100%;
	padding: 20px 30px;
	color: white;
	font-size: 1em;
}

#footer-general .footer-left,
#footer-general .footer-center,
#footer-general .footer-center-right,
#footer-general .footer-right
{
	display: inline-block;
	vertical-align: top;
}

.footer-left
{
	width: 25%;
}

#footer-general .footer-center
{
	width: 25%;
}
#footer-general .footer-center-right
{
	margin-top: 0.5%;
    width: 18%;
}

#footer-general .footer-right
{
	width: 30%;
}

.lien-focus:hover{
	cursor: pointer;
	text-decoration: underline white;
}

#googlemap{
	width: 400px;
	height: 200px;
}

/* optimisation du focus */
button{
    background: none;
    border: none;
    font-family: 'Calibri';
    font-size: 1em; 
	padding: 0;
	color: white;
	margin: 3% 0;
}

.lien-focus:focus {
    border: solid white;
}



@media screen and (max-width: 1280px) {
	#logoFooter
	{
		display: inline;		
	}

	#liste_logo
	{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
	}

}

@media screen and (max-width: 980px) {
	#footer-general{
		display: flex;
		flex-direction: column;
	}

	#footer-general .footer-left,
	#footer-general .footer-center,
	#footer-general .footer-center-right,
	#footer-general .footer-right{
		text-align: center;
		width: 100%;
	}

	table{
		margin: auto;
	}

	#googlemap{
		width: 100%;
		height: 200px;
	}
}

@media screen and (max-width: 736px) {
	#logoFooter
	{
		width: 100%;
		
	}

	#liste_logo
	{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
	}

	#bloc_lientelephone
	{
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: #222222;
		position: fixed;
		bottom: 0;
	}

	#lientelephone
	{
		padding: 5px;
		font-family: calibri;
		letter-spacing: .1em;
		font-size: 20px;
		background-color: #0061f1;
		text-decoration: none;
		color: white;
		padding: 10px;
		border-radius: 15px;
	}

	#logotelephone
	{
		vertical-align: middle;
	}

}